<h1>Crear usuario</h1>
<form [formGroup]="userData" (ngSubmit)="onSubmit()" style="width: min-content;">
    <mat-form-field appearance="fill">
        <mat-label for="email">Email</mat-label>
        <input id="email" matInput type="text" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label for="name">Nombre</mat-label>
        <input id="name" matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label for="surName">Apellido</mat-label>
        <input id="surName" matInput type="text" formControlName="surName">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label for="password">Contraseña</mat-label>
        <input id="password" matInput type="password" formControlName="password">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label for="password2">Repetir la contraseña</mat-label>
        <input id="password2" matInput type="password" formControlName="password2">
    </mat-form-field>
    
    <mat-checkbox id="cocinero" class="example-margin" formControlName="kitchener">Cocinero</mat-checkbox>

    <button type="submit" [disabled]="!userData.valid" mat-flat-button color="primary">Entrar</button>
</form>
<p>Loguearse: <a href="/login">aqui</a></p>
