$tabletSize: 450px;
$pcSize: 850px;

.create-user {
    background-color: #eeeeee;
    width: 100%;
    padding: 2rem 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-card {
        max-width: 400px;
    }

    @media screen and (min-width: $tabletSize) {
        height: 100vh;
    }
}

form {
    margin-bottom: 1rem;
    box-sizing: border-box;

    & * {
        width: 100%;
    }

    > button {
        background-color: green;
    }
}

.btnLogin {
    background-color: #343c9d;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    
    a {
        display: block;
        width: 100%;
        color: #fff;
        text-decoration: none;
        padding: .5rem 0;
    }
}