<div class="create-user">
    <h1>Trazabilidad de Almuerzos</h1>
    <mat-card class="create-user-card">
        <mat-card-header>
            <h2>Crear Usuario</h2>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="userData">
                <mat-form-field appearance="fill">
                    <mat-label for="email">Email</mat-label>
                    <input id="email" matInput type="text" formControlName="email">
                    <mat-hint>Se le enviará un email para confirmar su cuenta</mat-hint>
                </mat-form-field>
            
                <mat-form-field appearance="fill">
                    <mat-label for="name">Nombre</mat-label>
                    <input id="name" matInput type="text" formControlName="name">
                </mat-form-field>
            
                <mat-form-field appearance="fill">
                    <mat-label for="surName">Apellido</mat-label>
                    <input id="surName" matInput type="text" formControlName="surName">
                </mat-form-field>
            
                <mat-form-field appearance="fill">
                    <mat-label for="password1">Contraseña</mat-label>
                    <input id="password1" matInput [type]="hide1 ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label for="password2">Repetir la contraseña</mat-label>
                    <input id="password2" matInput [type]="hide2 ? 'password' : 'text'" formControlName="password2">
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
        
                <button mat-flat-button [disabled]="!userData.valid" color="primary" (click)="onSubmit()">Crear</button>
            </form>
            <div class="btnLogin">
                <a href="/login">Loguearse</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>
