<div class="container">
    <div class="container-content">
        <header>
            <p class="current-date">{{currentDate}}</p>
            <div class="icons">
                <mat-icon id="prev" (click)="prevNextMonth($event)" fontIcon="chevron_left" />
                <mat-icon id="next" (click)="prevNextMonth($event)" fontIcon="chevron_right" />
            </div>
        </header>
        
        <div class="calendar">
            <div class="calendar-content">
                <ul class="week">
                    <li><strong>Domingo</strong></li>
                    <li><strong>Lunes</strong></li>
                    <li><strong>Martes</strong></li>
                    <li><strong>Miercoles</strong></li>
                    <li><strong>Jueves</strong></li>
                    <li><strong>Viernes</strong></li>
                    <li><strong>Sabado</strong></li>
                </ul>
                <ul class="days">
                    <li *ngFor="let day of numbersDay" [class.inactive]="day.status === 'inactive'" [class.today]="day.status === 'today'">
                        <p>{{day.numberDay}}</p>
                        
                        <div *ngIf="day.menu" class="menu" (click)="openDialog(day)">
                            <div class="menuInfo principalMenu">
                                <p class="MPName">{{day.menu.menuPrincipal}}</p>
                                <p>{{day.cantMP || 0 | number}}</p>
                            </div>
                            <div class="menuInfo secodaryMenu" *ngIf="day.menu.menuSecundario">
                                <p class="MSName">{{day.menu.menuSecundario}}</p>
                                <p>{{day.cantMS || 0 | number}}</p>
                            </div>
                            <div class="menuInfo MPCount">
                                <p>Totales: </p>
                                <p>{{day.menu.users && day.menu.users.length || 0 | number}}</p>
                            </div>
                        </div>
                        
                        <div *ngIf="!day.menu && (roles?.includes('COCINERO') || roles?.includes('ADMIN')) && day.status != 'inactive' && day.validToAdd && !day.isWeekend" class="addMenu">
                            <button mat-raised-button color="primary" (click)="addMenu(day.numberDay)" id="{{day.numberDay}}">
                                <mat-icon fontIcon="add_circle" />
                                Agregar Menu
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
