.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile {
    display: block;
    margin-top: 5rem;
    text-align: center;
}

.calendario {
    display: none;
    width: 90%;
    min-width: 550px;
    background-color: #fff;
    border-radius: 10px;

    header {
        display: flex;
        align-items: center;
        padding: 25px 30px 10px;
        justify-content: space-between;

        .current-date {
            font-size: 1.45rem;
            font-weight: 500;
        }

        .icons  * {
            cursor: pointer;
            height: 38px;
            width: 38px;
            margin: 0 1px;
            line-height: 38px;
            text-align: center;
            border-radius: 50%;

            
            &:hover {
                background: #f2f2f2;
            }
        }
        
    }

    .calendar {
        padding: 20px;

        // & * {
        //     outline: 1px solid red;
        // }
    
        > ul {
            display: flex;
            list-style: none;
            flex-wrap: wrap;
        
            > li {
                text-align: center;
                width: calc((100% / 7));
                position: relative;
                padding: 1rem 0 2rem;
                box-shadow: 0 0.1px 0.1px 0 #00000033, 0 0.1px 1px 0 #00000030;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
        }

        .week {
            li{
                font-size: 1rem;
            }
        }
    
        .days {
            margin-bottom: 20px;
    
            > li {
                &.inactive {
                    color: #aaa;
                }
                &.active {
                    background-color: #c7fac3;
                }

                p {
                    font-size: 1rem;
                }

                .menu {
                    min-height: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    
                    .menuInfo {
                        text-align: initial;
                        border-radius: 10px;
                        box-sizing: border-box;
                        // margin: auto;
                        width: 90%;
                        margin-bottom: .5rem;
                        color: #fff;
                        padding: 10px 30px;
                        
                        &.principalMenu {
                            background-color: #008000;
                        }
                        
                        &.secodaryMenu {
                            background-color: #4350bf;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 850px) {
    .calendario{
        display: initial;
    }

    .mobile {
        display: none;
    }
}
