.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    // height: 100vh;
    margin-bottom: 2rem;

    padding: 0 .5rem;
    box-sizing: border-box;

    .title {
        padding: .5rem 0;
        text-align: center;
    }
}

.container-content {
    width: 100%;
    overflow: auto;
}

/* TABLET */
@media screen and (min-width: 450px) {
    .container {
        padding: 0;
    }

    .container-content {
        max-width: 80%;
    }
}