<div class="container" *ngIf="userInfo">
    <div class="container-content">
        <mat-card>
            <mat-card-title>Información de Usuario</mat-card-title>
            <hr>
            <h2><strong>{{userInfo.name}} {{userInfo.surName}}</strong></h2>
            <p>{{userInfo.email}}</p>
            <p>Rol: {{rol}}</p>
        </mat-card>

        <mat-card class="menusCards">
            <mat-card-title>Menus</mat-card-title>
            <hr>
            <ng-container *ngFor="let menu of menusOfUser">
                <mat-card class="MenuCardInfo">
                    <div (click)="openMenuDialog(menu)">
                        <div class="menuDate">
                            <p><strong>{{menu.date | date:'shortDate'}}</strong></p>
                        </div>

                        <div class="MenuOptions">
                            <div class="principalMenu" *ngIf="menu.Menu_Users.selectedMenu == 'MP'; else MenuS">
                                <div class="MPName">{{menu.menuPrincipal}}</div>
                            </div>

                            <ng-template #MenuS>
                                <div class="secodaryMenu">
                                    <div class="MSName">{{menu.menuSecundario}}</div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </mat-card>
            </ng-container>
        </mat-card>

        <mat-card *ngIf="itsMe || itsAdmin">
            <mat-card-title>Acciones del perfil</mat-card-title>
            <hr>
            <button mat-raised-button color="warn" (click)="deleteUser()">Darse de baja</button>
        </mat-card>
    </div>
</div>