$tabletSize: 450px;
$pcSize: 850px;

$background_MP: rgb(0, 128, 0);
$background_MS: rgb(67, 80, 191);

mat-card {
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.container {
    padding: 1rem 2rem 3rem;
    box-sizing: border-box;
    height: calc(100vh - 60px);
    overflow: auto;

    @media screen and (min-width: $tabletSize) {
        padding: 3rem 0 5rem;
    }

    .container-content {
        @media screen and (min-width: $tabletSize) {
            max-width: 1050px;
            min-width: $pcSize;
            padding: 0 3rem;
            margin: auto;

            display: grid;
            grid-template-columns: max-content auto;
            grid-template-rows: auto min-content;
            align-items: start;
            gap: 20px;
        }

        .menusCards {
            max-height: 70vh;
            overflow: auto;

            @media screen and (min-width: $tabletSize) {
                grid-row: 1/3;
                grid-column: 2;
            }

            .MenuCardInfo {
                cursor: pointer;
            }

            .menuDate {
                height: 35px;
            }

            .MenuOptions {
                >div {
                    padding: 1rem;
                    box-sizing: border-box;
                    border-radius: 10px;
                    color: #fff;
                }

                .principalMenu {
                    background-color: $background_MP;
                }

                .secodaryMenu {
                    background-color: $background_MS;
                }
            }
        }
    }
}