.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem 2rem;
    box-sizing: border-box;

    .title {
        padding: .5rem 0;
        text-align: center;
    }
}

form {
    margin-bottom: 1rem;
    box-sizing: border-box;

    & * {
        width: 100%;
    }

    button {
        margin-top: 1rem;
        background-color: green;
    }
}

/* TABLET */
@media screen and (min-width: 450px) {
    // .container {
    //     padding: 0;
    // }

    .createMenu * {
        max-width: 400px;
    }
}