$tabletSize: 450px;
$pcSize: 850px;

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $pcSize) {
        padding: 0 50px;
    }
}

.headerActions {
    display: flex;
    justify-content: center;
}

.dialogActions {
    justify-content: center;
}

.publicActions {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .options {
        display: grid;
        gap: 10px;
        color: #fff;
        
        @media screen and (min-width: $pcSize) {
            grid-template-columns: auto auto;
        }
        
        > * {
            border-radius: 10px;
            padding: 15px 20px;
            display: flex;
            justify-content: center;
        }

        input[type = "radio"] {
            display: none;
        }

        .OptionBox {
            cursor: pointer;
        }

        .MenuPrincipal {
            background-color: rgb(0, 128, 0);
            border: 1px solid rgb(1, 68, 1);
            box-shadow: 2px 5px rgb(1 68 1);
        }
        input:checked + .MenuPrincipal{
            background: rgba(0, 128, 0, 0.699);
            box-shadow: none;
            border: none;
        }

        .MenuSecundario {
            background-color: rgb(67, 80, 191);
            border: 1px solid rgb(50, 57, 122);
            box-shadow: 2px 5px rgb(50 57 122);
        }
        input:checked + .MenuSecundario{
            background: rgb(67, 80, 191, 0.699);
            box-shadow: none;
            border: none;
        }
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem 0;
    }
}

.mat-tab-group {
    padding-bottom: 2rem;
}