$tabletSize: 450px;
$pcSize: 850px;

.container {
    height: 90vh;
    max-width: 400px;
}

.publicActions {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .options {
        display: flex;
        flex-direction: column;

        > * {
            padding: 10px 0;
        }
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem 0;
    }
}

.privateActions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    button {
        flex: 1;
    }
}

.mat-tab-group {
    padding-bottom: 2rem;
}