<div class="container">
    <div class="body">
        <div class="header">
            <h1 mat-dialog-title class="title">Información del Menu</h1>
            <div class="headerActions">
                <button mat-icon-button color="primary" aria-label="Editar Menú" (click)="toggleUpdateMenu()" *ngIf="canManageMenus"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button color="warn" aria-label="Borrar Menú" (click)="deleteMenu()" *ngIf="canManageMenus"><mat-icon>delete</mat-icon></button>
                <a mat-icon-button href="/helps#menu"><mat-icon>question_mark</mat-icon></a>
            </div>
        </div>

        <div mat-dialog-actions class="dialogActions">
            <div [formGroup]="menuData" class="canManageMenus" *ngIf="canManageMenus && toggleEditMenu">
                <mat-form-field appearance="fill">
                    <mat-label for="menuPrincipal">Menu Principal</mat-label>
                    <textarea  matInput
                        id="menuPrincipal"
                        type="text"
                        formControlName="menuPrincipal">
                    </textarea>
                </mat-form-field>
            
                <mat-form-field appearance="fill">
                    <mat-label for="menuSecundario">Menu Secundario</mat-label>
                    <textarea  matInput
                        id="menuSecundario"
                        type="text"
                        formControlName="menuSecundario"></textarea>
                </mat-form-field>
            
                <mat-form-field appearance="fill">
                    <mat-label for="fecha">Fecha</mat-label>
                    <input matInput 
                        [matDatepicker]="picker"
                        formControlName="date"
                        id="fecha" value="fecha">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <div class="buttons">
                    <button mat-raised-button color="primary" (click)="updateMenu()">Aceptar</button>
                    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
                </div>

            </div>
            <div class="canBeAddedToMenu" *ngIf="canBeAddedToMenu && !toggleEditMenu">
                <form [formGroup]="registrationForm" class="options">
                    <input type="radio" id="MP" name="menuOption" value="MP" formControlName="menuOption" (change)="addtoMenu('MP')">
                    <label class="MenuPrincipal OptionBox" for="MP">{{menu.menuPrincipal}}</label>
                    
                    <input type="radio" id="MS" name="menuOption" value="MS" formControlName="menuOption" (change)="addtoMenu('MS')">
                    <label class="MenuSecundario OptionBox" for="MS" *ngIf="menu.menuSecundario">{{menu.menuSecundario}}</label>
                </form>
    
                <div class="actions">
                    <button mat-raised-button color="warn" class="btnDown" [disabled]="mySelectedMenu == undefined" (click)="deleteToMenu(menu._id)">Darse de baja</button>
                </div>
            </div>

            <div class="noRole" *ngIf="!canBeAddedToMenu && !canManageMenus">
                <div class="menues">
                    <ul>
                        <li class="menuPrincipal">{{menu.menuPrincipal}}</li>
                        <li class="menuSecundario" *ngIf="menu.menuSecundario">{{menu.menuSecundario}}</li>
                    </ul>
                </div>
                <mat-card class="card">
                    <mat-card-content >
                        No tienes <strong>Rol</strong> para interactuar con el menú.<br> Contactate con un administrador para solicitar un rol.
                    </mat-card-content>
                </mat-card>
            </div>
        </div>  
    </div>
    
    <div class="footer">
        <mat-tab-group class="mat-tab-group">
            <mat-tab label="Cantidades">
                <table mat-table [dataSource]="dataCountMenuOption">
                    <tr mat-header-row *matHeaderRowDef="displayedCountColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedCountColumns;"></tr>
            
                    <ng-container matColumnDef="menu_principal">
                        <th mat-header-cell *matHeaderCellDef> Menu Principal </th>
                        <td mat-cell *matCellDef="let element"> {{element.MP}} </td>
                    </ng-container>
                    <ng-container matColumnDef="menu_secundario">
                        <th mat-header-cell *matHeaderCellDef> Menu Secundario </th>
                        <td mat-cell *matCellDef="let element"> {{element.MS}} </td>
                    </ng-container>
                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef> Total </th>
                        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                    </ng-container>
                </table>
            </mat-tab>
            <mat-tab label="Comensales">
                <div class="comensalesTable">
                    <table mat-table [dataSource]="dataComensales" class="comensalesTable">
                        <ng-container matColumnDef="hour">
                            <th mat-header-cell *matHeaderCellDef> Hora </th>
                            <td mat-cell *matCellDef="let element"> {{element.hour}} </td>
                        </ng-container>
                        <ng-container matColumnDef="menu_option">
                            <th mat-header-cell *matHeaderCellDef> Menú </th>
                            <td mat-cell *matCellDef="let element"> {{element.menu_option}} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="surName">
                            <th mat-header-cell *matHeaderCellDef > Apellido </th>
                            <td mat-cell *matCellDef="let element"> {{element.surName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef > Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedComensalesColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedComensalesColumns;"></tr>
                    </table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>