.form {
    margin-bottom: 1rem;
    box-sizing: border-box;
    margin-right: 1rem;

    & * {
        width: 100%;
    }
}

.dialogActions {
    justify-content: space-between;

    .btnAddToMenuP:hover {
        color: #fff;
        background-color: #009b1a;
    }
    .btnAddToMenuS:hover {
        color: #fff;
        background-color: #4350bf;
    }
}

// /* TABLET */
// @media screen and (min-width: 450px) {
//     .menuInfo * {
//         max-width: 400px;
//     }
// }