$navbarHeight: 60px;
$tabletSize: 450px;
$pcSize: 850px;

.navBar {
    background: #252525;
    color: #fff;
    height: $navbarHeight;

    a {
        text-decoration: none;
        color: #454545;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;

        .toggleBtn {
            display: block;
            
            @media screen and (min-width: $pcSize) {
                display: none;
            }
        }   
    }

    @media screen and (min-width: $pcSize) {
        padding: 0 20px;
    }
}

.home {
    a {
        padding: 0 20px;
        text-decoration: none;
        height: $navbarHeight;
        line-height: $navbarHeight;
        display: block;
        text-transform: uppercase;
        text-align: center;
        box-sizing: border-box;

        &:hover {
            background: #454545;
            color: #fff;
        }
    }
}

.menu {
    display: flex;
    align-items: center;

    @media screen and (max-width: $pcSize) {
        display: none;

        &.is-open {
            display: block;
            position: absolute;
            top: #{$navbarHeight + 2};
            width: 100%;
            height: calc(100vh - #{$navbarHeight + 2});
            background-color: #fff;
            z-index: 10;
        }
    }

    .menu-item {
        height: $navbarHeight;
        line-height: $navbarHeight;
        display: block;
        padding: 0 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: #454545;
        width: 100%;
        text-align: center;
        border-radius: 0;
        box-sizing: border-box;
            display: flex;

        &:hover {
            background: #454545;
            color: #fff;
        }

        .warn {
            background: #890606;
        }

        @media screen and (min-width: $pcSize) {
            width: fit-content;
        }
    }
}