<nav class="navBar" *ngIf="logged">
    <ul>
        <li class="home">
            <a href="#" class="home">Home</a>
        </li>
        <li class="toggleBtn">
            <button 
                mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon"
                (click)="toggleMenu()">
                <mat-icon>menu</mat-icon>
            </button>
        </li>
        <li class="menu" [class.is-open]="isMenuOpen">
            <button mat-button 
                class="menu-item" 
                (click)="goToUsuarios()">
                <mat-icon fontIcon="group" />
                Usuarios
            </button>

            <button mat-button
                class="menu-item"
                (click)="createMenu()"
                *ngIf="hasRoles">
                <mat-icon fontIcon="lunch_dining" />
                Agregar Comida
            </button>

            <button mat-button 
                class="menu-item countBtn" 
                [matMenuTriggerFor]="menu">
                <mat-icon fontIcon="account_circle" />
                {{userName}}
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item 
                    color="warn"
                    (click)="goToPerfil()">
                    <mat-icon fontIcon="manage_accounts" />
                    Perfil
                </button>
                <button mat-menu-item 
                    color="warn"
                    (click)="logout()">
                    <mat-icon fontIcon="logout" />
                    Logout
                </button>
            </mat-menu>
        </li>
    </ul>
</nav>