<nav class="navBar" *ngIf="logged">
    <ul>
        <li class="home">
            <a href="#">
                <img src="assets/images/logo-sofka-blanco.png" alt="Logo Sofka" class="sofkaLogo">
            </a>
        </li>
        <li class="toggleBtn">
            <button 
                mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon"
                (click)="toggleMenu()">
                <mat-icon>menu</mat-icon>
            </button>
        </li>
        <li class="menu" [class.is-open]="isMenuOpen">
            <!-- <button mat-button 
                class="menu-item" 
                (click)="requestNotifications(userInfo._id)">
                getNotifications
            </button>

            <button mat-button 
                class="menu-item" 
                (click)="requestRol()">
                reqRol
            </button> -->

            <button mat-button 
                class="menu-item" 
                (click)="goToHome()">
                <mat-icon fontIcon="home" />
                Inicio
            </button>

            <button mat-button 
                class="menu-item" 
                (click)="goToUsuarios()">
                <mat-icon fontIcon="group" />
                Usuarios
            </button>

            <button mat-button
                class="menu-item"
                (click)="createMenu()"
                *ngIf="hasRoles">
                <mat-icon fontIcon="lunch_dining" />
                Agregar Comida
            </button>
            
            <button mat-button
                class="menu-item"
                (click)="goToHelps()">
                <mat-icon fontIcon="live_help" />
                Ayudas
            </button>

            <button mat-button
                class="menu-item" (click)="toggleNotifications()">
                <mat-icon fontIcon="notifications" matBadge="{{activeNotificationsCount}}" [matBadgeHidden]="notificationCountHidden"/>
            </button>

            <button mat-button 
                class="menu-item countBtn" 
                [matMenuTriggerFor]="menu">
                <mat-icon fontIcon="account_circle" />
                {{userInfo.name}}
                <label class="status not_connected" *ngIf="!connected"></label>
                <label class="status connected" *ngIf="connected"></label>
            </button>
            <mat-menu #menu="matMenu" #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item 
                    color="warn"
                    (click)="goToPerfil()">
                    <mat-icon fontIcon="manage_accounts" />
                    Perfil
                </button>
                <button mat-menu-item 
                    color="warn"
                    (click)="logout()">
                    <mat-icon fontIcon="logout" />
                    Logout
                </button>
            </mat-menu>
        </li>
    </ul>
    <div class="notifications" [class.is-open]="isNotificationOpen">
        <div>
            <h2>Notificaciones</h2>
            <mat-list role="list" class="notificationList">
                <div class="notificationListItem" *ngFor="let notification of notifications" [class.isActive]="!notification.active">
                    <div class="notificationListItemTitle">
                        {{notification.notificationTitle}}
                    </div>
                    <div class="notificationListItemMessage">
                        <p>{{notification.message}}</p>
                    </div>
                    <div class="notificationListItemInfo">
                        <p>{{notification.createdTime}}</p>
                    </div>
                </div>
            </mat-list>
        </div>
        <button mat-flat-button (click)="toggleNotifications()">cerrar</button>
    </div>
</nav>