$navbarHeight: 60px;
$tabletSize: 450px;
$pcSize: 850px;

$background_color_1:#252525;
$color_1_hover: #454545;

$background_blue:#050531;
$background_blue_hover: #070746;
$color_orange: #ff9431;

.navBar {
    background: $background_blue;
    color: #fff;
    height: $navbarHeight;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;

        .toggleBtn {
            display: block;
            
            @media screen and (min-width: $pcSize) {
                display: none;
            }
        }   
    }

    @media screen and (min-width: $pcSize) {
        padding: 0 20px;
    }
}

.home {
    height: $navbarHeight;
    padding: 5px 10px;
    box-sizing: border-box;

    @media screen and (min-width: $pcSize) {
        padding: 10px 0;
    }

    a {
        height: 100%;
        display: block;

        .sofkaLogo {
            height: 100%;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    min-width: 700px;
    
    @media screen and (max-width: $pcSize) {
        display: none;
        
        &.is-open {
            min-width: auto;
            display: block;
            position: absolute;
            top: #{$navbarHeight + 2};
            width: 100%;
            height: calc(100vh - #{$navbarHeight + 2});
            background-color: rgba(255, 255, 255, 0.95);
            z-index: 10;
        }
    }

    .menu-item {
        height: $navbarHeight;
        line-height: $navbarHeight;
        display: block;
        padding: 0 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: $color_orange;
        width: 100%;
        text-align: center;
        border-radius: 0;
        box-sizing: border-box;
            display: flex;

        &:hover {
            background: $background_blue_hover;
            color: #ff7e06;
        }

        .warn {
            background: #890606;
        }

        @media screen and (min-width: $pcSize) {
            color: #cacaca;
            width: fit-content;
        }
    }
}