<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="width: min-content;">
    <mat-form-field appearance="fill">
        <mat-label for="email">Email</mat-label>
        <input id="email" matInput type="text" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label for="password">Password</mat-label>
        <input id="password" matInput type="password" formControlName="password">
    </mat-form-field>
    <button type="submit" [disabled]="!loginForm.valid" mat-flat-button color="primary">Entrar</button>
</form>
<p>crear usuario: <a href="/create/user">aqui</a></p>