$tabletSize: 450px;
$pcSize: 850px;

$background_blue:#050531;
$background_blue_hover: #070746;
$color_orange: #ff9431;

.container-title {
    background: $background_blue;
    padding: 1rem 0 .5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    
    h2 {
        color: $color_orange;
        font-family: 'Enriqueta', arial, serif; line-height: 1.25;
        margin: 0 0 10px;
        font-weight: bold;
        text-align: center;
    }
}

.form {
    margin-bottom: 1rem;
    box-sizing: border-box;

    & * {
        width: 100%;
    }
    
    > button {
        background-color: green;
    }
}

.btnCreateUser {
    background-color: #343c9d;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    
    a {
        display: block;
        width: 100%;
        color: #fff;
        text-decoration: none;
        padding: .5rem 0;
    }
}