$tabletSize: 450px;
$pcSize: 850px;
$navbarHeight: 60px;

.container {
    width: 100%;
    height: calc(100vh - $navbarHeight);
    overflow: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5rem 0;
    box-sizing: border-box;

    h1 {
        text-transform: uppercase;
    }
}