<div class="container">
    <h1>Pagina de ayudas</h1>

    <section class="indice">
        <ul>
            <li>
                <a href="/helps#introduccion">Introducción</a>
            </li>
            <li>
                <a href="/helps#roles">Roles de usuarios</a>
            </li>
            <li>
                <a href="/helps#Menu">Menú</a>
                <ul>
                    <li>
                        <a href="/helps#crearMenu">Crear Menú</a>
                    </li>
                    <li>
                        <a href="/helps#editarMenu">Editar Menú</a>
                    </li>
                    <li>
                        <a href="/helps#eliminarMenu">Eliminar Menú</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/helps#agregarseAMenu">Agregarse a Menú</a>
            </li>
            <li>
                <a href="/helps#quitarseDeMenu">Quitarse de Menú</a>
            </li>
        </ul>
    </section>

    <section class="introduccion" id="introduccion">
        <h2>Introducción</h2>
        
        <p><strong>"Seguimiento de comidas - sofka"</strong> es una aplicación web que busca simplificar, automatizar y prevenir errores en la trazabilidad de los almuerzos en la empresa, ademas de ofrecer una forma de llevar un control más estricto de las mismas.</p>
        <p>Está aplicación web ofrece un calendario y distintas funciones con las cuales los usuarios puedan interactuar de tal forma que permita llevar un registro de los almuerzos que la empresa necesita. Permitiendo saber los menus de los almuerzos programados, cuantos comensales se registran y especificamente que menu (principal o secundario) se necesitan para el día.</p>
        <p>Permite ademas limitar de forma tecnica cuantos comensales se pueden registrar por menú del día, y los horarios para registrar o para agregarse a un menú, ofreciendo a los cocineros fiabilidad de saber cuantos menús serán necesarios.</p>
        <img src="assets/images/pagina_inicio.png" alt="Pagina de inicio">
    </section>
    
    <section class="roles" id="roles">
        <h2>Roles de usuarios</h2>
    
        <p>Para mantener un control de lo que se puede y no se puede hacer en la aplicación, los usuarios cuentan con roles, teniendo asi limitada las acciones por el rol que tienen asignado. Estos roles se comportan de forma jerarquica, los usuarios con roles más arriba pueden hacer lo que los roles de abajo, además de sus propias caracteristicas</p>
        <p>Estos roles son:</p>

        <ul>
            <li>
                <strong>Administrador:</strong><p>Los usuarios con este rol tienen absoluto control de la aplicación web, pueden realizar todas las acciones de los otros roles y pueden asignar los roles de los demás usuarios.</p>
            </li>
            <li>
                <strong>Cocinero:</strong><p>Los usuarios con este rol pueden dar de alta, modificar y eliminar menús.</p>
            </li>
            <li>
                <strong>Comensal:</strong><p>Los usuarios con este rol simplemente pueden registrarse o darse de baja de los menús creados por los cocineros.</p>
            </li>
        </ul>
    </section>

    <section class="Menu" id="Menu">
        <h2>Menú</h2>

        <p>Los menús son la parte más importante de esta aplicación, cada menú estará conformado por un menú principal (obligatiorio), un menú secundario (opcional), la fecha en la que será servido y una lista de usuarios que solicitaron uno de los menús, si el menú cuenta con las 2 opciones un usuario podrá elegir uno, en el caso contrario solamente el que este registrado.</p>
        <p>En el calendario de la pagina principal cada menú mostrará las opciones de menú registrados y la cantidad total de comensales sea cual sea su opción. Para ver las cantidades especificas de cada opcion es necesario abrir el menú e ir a la opción de "Cantidades".</p>
        <p>En la pestaña de "Comensales" se podrá ver información del comensal que permita llevar una trazabilidad, como que opción de menú eligio y a que hora lo hizo.</p>
        <img src="assets/images/menu_dialog.png" alt="Menu">

        <section class="crearMenu" id="crearMenu">
            <h3>Crear Menú</h3>
            <p>Para crear un menú es necesario tener el rol de cocinero o superior. Al contar con este rol en el calendario para cada día se mostrarán la opcion de "Agregar Menú" o también en la barra superior.</p>
            <img src="assets/images/Agregar_menu.png" alt="Agregar menu">
            <p>Al hacer click aparecerá un dialog donde se registrará un menu principal (obligatorio), un menú secundario (opcional) y la fecha en la que será servido.</p>
            <img src="assets/images/Agregar_menu_dialog.png" alt="Dialog de agregar menú">
        </section>
    
        <section class="editarMenu" id="editarMenu">
            <h3>Modificar Menú</h3>
            <!-- <p>Teniendo el rol de cocinero o superior, la abrir un menú aparecerá la opción de editar menú</p> -->
            <p>Se está desarrollando!</p>
        </section>
    
        <section class="eliminarMenu" id="eliminarMenu">
            <h3>Eliminar Menú</h3>
            <p>Teniendo el rol de cocinero o superior, la abrir un menú aparecerá la opción de borrar menú, que eliminará el menú con todo su contenido a todos.</p>
            <img src="assets/images/Editar-Borrar.png" alt="Botones de editar y borrar menú">
        </section>
    </section>

    <section class="agregarseAMenu" id="agregarseAMenu">
        <h2>Agregarse a un Menú</h2>
        <p></p>
    </section>

    <section class="quitarseDeMenu" id="quitarseDeMenu">
        <h2>Quitarse de un Menú</h2>
        <p></p>
    </section>

</div>