$tabletSize: 450px;
$pcSize: 850px;
$navbarHeight: 60px;

.loading {
    width: 100%;
    height: calc(100vh - #{$navbarHeight + 2});
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 100%;
    height: calc(100vh - #{$navbarHeight + 2});
    overflow: scroll;
    padding: 1rem .5rem 5rem;
    box-sizing: border-box;

    .container-content {
        
        @media screen and (min-width: $pcSize) {
            display: flex;
            justify-content: center;
        }
        .mat-elevation-z8 {
            box-sizing: border-box;
            min-width: max-content;
    
        }
    }
}

.status {
    --size: 10px;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    display: inline-block;

    &.connected {
        background: rgb(0, 255, 0);
    }
    &.not_connected {
        background: rgb(255, 0, 0);
    }
}