$tabletSize: 450px;
$pcSize: 850px;
$navbarHeight: 60px;
$titleHeight: 50px;

.loading {
    width: 100%;
    height: calc(100vh - $navbarHeight);
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 100%;

    .title {
        height: $titleHeight;
        padding: 0 2rem;
        box-sizing: border-box;
        margin: auto;

        @media screen and (min-width: $pcSize) {
            max-width: $pcSize;
        }
    }

    .container-content {
        height: calc(100vh - $navbarHeight - $titleHeight);
        overflow: auto;
        padding: 0 2rem 5rem;
        box-sizing: border-box;

        @media screen and (min-width: $pcSize) {
            margin: auto;
            max-width: $pcSize;
        }

        table {
            width: max-content;
        }
    }
}

.status {
    --size: 10px;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    display: inline-block;

    &.connected {
        background: rgb(0, 255, 0);
    }

    &.not_connected {
        background: rgb(255, 0, 0);
    }
}