$tabletSize: 450px;
$pcSize: 850px;
$navbarHeight: 60px;

.loading {
    width: 100%;
    height: calc(100vh - $navbarHeight);
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 100%;
    height: calc(100vh - $navbarHeight);
    overflow: hidden;
    padding: .1rem .5rem;
    box-sizing: border-box;

    .container-content {
        min-width: 90%;
        padding: .5rem 1rem 1rem;
        overflow: auto;

        @media screen and (min-width: $pcSize) {
            display: flex;
            justify-content: center;
        }

        .mat-elevation-z8 {
            min-width: max-content;
            max-height: 400px;
            overflow: auto;
            display: block;

            tr {
                @media screen and (min-width: $pcSize) {
                    position: sticky;
                }
            }
        }
    }
}

.status {
    --size: 10px;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    display: inline-block;

    &.connected {
        background: rgb(0, 255, 0);
    }
    &.not_connected {
        background: rgb(255, 0, 0);
    }
}