<div class="container" *ngIf="userInfo">
    <div class="title">
        <h1 *ngIf="itsMe">Mi Perfil</h1>
        <h1 *ngIf="!itsMe">Perfil</h1>
    </div>
    <div class="container-content">
        <h2>{{userInfo.name}} {{userInfo.surName}}</h2>

        <h3>{{userInfo.email}}</h3>

        <p>Rol: {{rol}}</p>
    </div>
    <div class="container-actions" *ngIf="itsMe || itsAdmin">
        <button mat-raised-button color="warn" (click)="deleteUser()">Darse de baja</button>
        <!-- <button mat-raised-button (click)="openUpdateUser()">Editar</button> -->
    </div>
    <!-- <mat-card *ngIf="!hasRole">
        <mat-card-content>
            <mat-card-header>
                <mat-card-title>Solicitar Rol</mat-card-title>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button color="primary" (click)="requestRol()" *ngIf="!requestRolSended">Solicitar</button>
                <p *ngIf="requestRolSended">Solicitud enviada, aguarde a que un Administrador le asigne su rol</p>
            </mat-card-actions>
        </mat-card-content>
    </mat-card> -->
</div>